.ai-btn {
  position: fixed;
  bottom: 70px;
  right: 30px;
  background: #111;
  color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  z-index: 9999;
}

.ai-chat {
  position: fixed;
  bottom: 85px;
  right: 20px;
  width: 320px;
  height: 420px;
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 9999;
}

.ai-header {
  background: #111;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.ai-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  font-size: 14px;
}

.msg {
  margin-bottom: 8px;
  padding: 8px 10px;
  border-radius: 8px;
  max-width: 80%;
}

.msg.user {
  background: #d1e7ff;
  margin-left: auto;
}

.msg.ai {
  background: #f1f1f1;
}

.ai-input {
  display: flex;
  border-top: 1px solid #eee;
}

.ai-input input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
}

.ai-input button {
  background: #111;
  color: #fff;
  border: none;
  padding: 0 15px;
  cursor: pointer;
}
.faq-close-icon{
  color: rgb(8, 8, 8);
  
}
@media (max-width: 600px) {
  .ai-btn {
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .ai-chat {
    width: 95%;
    height: 75vh;
    right: 2.5%;
    bottom: 80px;
    border-radius: 10px;
  }

  .ai-header {
    padding: 12px;
    font-size: 15px;
  }

  .ai-messages {
    font-size: 13px;
    padding: 8px;
  }

  .msg {
    max-width: 90%;
    font-size: 13px;
  }

  .ai-input input {
    padding: 12px;
    font-size: 14px;
  }

  .ai-input button {
    padding: 0 12px;
    font-size: 14px;
  }
}