
.courses {
  padding: 60px 20px;
  min-height: 100vh;
  background: #f9f9f9;
}

.course-container {
  max-width: 1200px;
  margin: auto;
}

.course-header {
  text-align: center;
  margin-bottom: 40px;
}

.course-header h1 {
  margin-top: 60px;
 font-family: 'Poppins', sans-serif;
  font-size: 2.8rem;
}

.course-header h1 span {
  color: #6c5ce7;
}

.course-header p {
   font-family: 'Poppins', sans-serif;
  color: #666;
  margin-top: 10px;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.course-box {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  transition: 0.2s ease;
}

.course-box:hover {
  transform: translateY(-5px);
}

.image-wrapper {
  position: relative;
}

.image-wrapper img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.level-tag,
.enrolment-tag {
  position: absolute;
  top: 10px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 20px;
  color: #fff;
}

.level-tag {
  left: 10px;
  background: #6c5ce7;
}

.enrolment-tag {
  right: 10px;
  background: #00b894;
}

.course-box h2 {
  font-size: 18px;
  margin: 15px;
}

.course-box p {
  font-size: 14px;
  color: #666;
  margin: 0 15px 15px;
}

.course-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #eee;
}

.instructor {
  font-weight: bold;
  font-size: 14px;
}

.course-footer button {
  background: #111;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.course-footer button:hover {
  background: #333;
}

.courses-layout {
  margin-top: 20px;
}

@media (max-width: 900px) {
  .courses-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .course-header h1 {
    font-size: 30px;
  }
}


@media (max-width: 600px) {
  .courses {
    padding: 40px 10px;
  }

  .courses-grid {
    grid-template-columns: 1fr;
  }

  .course-header h1 {
    font-size: 24px;
  }

  .course-header p {
    font-size: 14px;
  }

  .image-wrapper img {
    height: 160px;
  }

  .course-footer {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .course-footer button {
    width: 100%;
  }
}


@media (max-width: 400px) {
  .course-header h1 {
    font-size: 20px;
  }

  .course-box h2 {
    font-size: 16px;
  }
}