.create-course {
    margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.create-course form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.create-course input {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.create-course button {
  padding: 10px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}