* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 71px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  background: rgba(9, 1, 48, 0.87);
  backdrop-filter: blur(8px);
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.3);
}
.logo img {
  width: 94px;
  cursor: pointer;
}
.links {
  display: flex;
  align-items: center;
  gap: 27px;
}
.links a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #f3f4f6;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 6px 7px;
  font-size: 17px;
}
.links a:hover {
  background: #03035c;
  border-radius: 6px;
}
.right {
  display: flex;
  align-items: center;
  gap: 14px;
}
.notification {
  position: relative;
}
.notification .icon {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background: transparent;
  border-radius: 50%;
  color:white;
}
.badge {
  position: absolute;
  top: 6px;
  right: 7px;
  min-width: 10px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-weight: bold;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 0;
}
.dropdown {
  position: absolute;
  top: 42px;
  right: 0;
  min-width: 240px;
  max-width: 320px;
  background: #e5e7eb;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  z-index: 9999;
}
.dropdown.notif .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.dropdown.notif button {
  border: none;
  background: #b30606;
  color: white;
  padding: 4px 9px;
  border-radius: 5px;
  cursor: pointer;
}
.dropdown.notif .item {
  padding: 8px;
  border-bottom: 1px solid #d1d5db;
  cursor: pointer;
}
.dropdown.notif .item:hover {
  transform: scale(1.01);
}
.dropdown.notif .item.read {
  opacity: 0.6;
}
.dropdown.notif span {
  font-size: 10px;
  color: #6b7280;
}
.empty {
  text-align: center;
  color: gray;
}
.profile {
  position: relative;
}
.avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.dropdown.profile {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.dropdown.profile p {
  padding: 2px 7px;
}
.dropdown.profile .role {
  font-size: 12px;
  color: #38bdf8;
}
.dropdown.profile button {
  margin-top: 6px;
  padding:10px 6px;
  border: none;
  background: #b30606;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.create-course-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
   margin-top: 6px;
  padding: 10px 6px;
  border: none;
  background: #b30606;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.register-btn {
   background: #b30606;
   color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
.register-btn:hover {
  transform: scale(1.03);
}
.menu {
  display: none;
  color: white;
  cursor: pointer;
}
.mobile-register {
  margin-top: 10px;
  padding: 8px 12px;
  background: #b30606;
  width: 100%;
  color: #f4f4fa;
  border-radius: 6px;
  font-weight: 600;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
}
.hidden-register-btn{
  background-color: white;
}
.mobile-register:hover {
  transform: scale(1.03);
}
@media (max-width: 768px) {
  .links {
    display: none;
  }
  .links.open {
    position: absolute;
    top: 71px;
    left: 0;
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px;
    gap: 12px;
    background: rgba(9, 1, 48, 0.95);
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
  }
.right {
  display: flex;
  align-items: center;
  gap: 0px;
}
  .notification .icon {
    width: 36px;
    height: 36px;
  }
.notification{
  padding: 0;
  margin-right: 0;
}
  .avatar {
    width: 32px;
    height: 32px;
  }

  .dropdown {
    position: fixed;
    top: 70px;
    left: 10px;
    right: 10px;

    width: auto;
    max-width: unset;

    border-radius: 12px;
  }
  .register-btn{
    display: none;
    margin: 0;
  }
  .menu{
    margin-left: 10px;
  }
}