.payment-wrapper {
  min-height: 100vh;
  background: #f5f6f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.payment-container {
  display: flex;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
  align-items: flex-start;
}
.payment-left {
  flex: 2;
  background: white;
  padding: 30px;
  border-radius: 16px;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: none;
  cursor: pointer;
}

.tabs .active {
  background: black;
  color: white;
}
.card-preview {
  background: linear-gradient(135deg, #38bdf8, #6366f1);
  color: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.card-number {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.row {
  display: flex;
  gap: 10px;
}

.payment-right {
  flex: 1;
  background: white;
  color: #252525;
  padding: 25px;
  border-radius: 16px;
}

.course-card {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.course-card img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.summary div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.total {
  font-weight: bold;
  font-size: 1.1rem;
}
.pay-btn {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.pay-btn:hover {
  background: #0ea5e9;
}

.secure-note {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 10px;
  opacity: 0.8;
}
@media (max-width: 900px) {
  .payment-container {
    flex-direction: column;
    gap: 20px;
  }

  .payment-left,
  .payment-right {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .payment-wrapper {
    padding: 15px;
    align-items: flex-start;
    margin-top: 70px;
  }

  .payment-container {
    flex-direction: column;
  }

  .payment-left,
  .payment-right {
    width: 100%;
    padding: 20px;
  }
.payment-right h3{
 margin-bottom: 30px;
}
  .tabs {
    flex-direction: column;
  }

  .row {
    flex-direction: column;
  }
}